$main-colour: #0072bc;
$second-colour: #31b36f;

body {
	font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	margin: 0;
	h1 {
		font-weight: 500;
		margin-bottom: 40px;
	}
	h3 {
		font-weight: 400;
		text-transform: uppercase;
		font-size: 16px;
		color: #ccc;
	}
}

li {
	display: block;
}

.rv-left-navigation {
	a {
		font-size: 24px;
		font-weight: 100;
		text-decoration: none;
		display: block;
		margin-top: 20px;
	}
	li:first-child {
		margin-top: 100px;
	}
}


.rv-left-navigation {
	width: 200px;
	display: table-cell;
	height: 955px;
	//background-color: #e2e2e2;
	border-right: solid 1px #EEE;
}

.rv-main-content {
	display: table-cell;
}

.rv-logo {
	img {
		height: 100px;
		width: 100px;
		margin-left: 25%;
	}
}

.rv-position-content {
	margin-top: 25px;
	margin-left: 100px;
	width: 900px;
	position: relative;
}

#test-text {
	height: 40px;
	border: solid #EEE 1px;
	border-radius: 5px;
	width: 600px;
	height: 100px;
}

button {
	
}

#main-logo {
	width: 75px;
	height: 75px;
	margin-top: 20px;
	margin-left: 50px;
}

#right-sidebar {
	display: table-cell;
	width: 500px;
	text-align: center;
	h1 {

	}
}

#vote-container {
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	height: 50px;
}

#like {
	width: 30px;
	height: 30px;
	background-color: $second-colour;
	border-radius: 30px;
	position: relative;
	display: inline-block;
	margin-right: 50px;
	
	h2 {
		color: #FFF;
		display: inline-block;
		margin-top: -3px;
	}
}

#dislike {
	width: 30px;
	height: 30px;
	background-color: $main-colour;
	border-radius: 30px;
	position: relative;
	display: inline-block;
	
	h2 {
		color: #FFF;
		display: inline-block;
		margin-top: -3px;
	}
}

.comment-details {
	display: none;
	position: absolute;
	left: 827px;
	top: 247px;
	color: #ccc;
	font-size: 12px;
}

p:hover + .comment-details {
	display: block;

}

body {
	background-color: blue !important;
}