doctype html
html(lang="en")
	head
		include _mixins
		block vars
		+docHead()
		block head

	body.ace-page
		#page
			header#header(role='banner')
				.header-container
			main#content(role='main')
				.ace-group.ace-page-content
					.ace-item.ace-page-content-content
						if pageTitle == homePageTitle
						else
							h1= pageTitle
						block content
		#hidden
			script(src="scripts/jquery-2.1.4.min.js")
			script(src='scripts/ace.js')
			script(src='http://localhost:35729/livereload.js')
			block hidden