mixin docHead()
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=EDGE")
  meta(name="viewport",content="width=device-width, initial-scale=1")

  if pageTitle
      title #{pageTitle}
  else
      title ansarada Help

  link(rel="stylesheet", href="style/ace-core.css" media="all")
  link(rel="stylesheet", href="style/ace-theme.css"  media="all")
  link(rel="stylesheet", href="style/style.css" media="all")

  link(rel="shortcut icon" type="image/png" href="images/favicon.png")