/* ace 1.3.0 (c) ansarada */
@charset "UTF-8";
/* 
 * HTML5 âœ° Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 18, ../source/style/core/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../source/style/core/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 20, ../source/style/core/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 21, ../source/style/core/_reset.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 33, ../source/style/core/_reset.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*body { margin: 0; font-size: 13px; line-height: 1.231; }*/
/* line 37, ../source/style/core/_reset.scss */
body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* line 45, ../source/style/core/_reset.scss */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 46, ../source/style/core/_reset.scss */
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* =============================================================================
   Links
   ========================================================================== */
/* line 53, ../source/style/core/_reset.scss */
a {
  color: #00e;
}

/* line 54, ../source/style/core/_reset.scss */
a:visited {
  color: #551a8b;
}

/* line 55, ../source/style/core/_reset.scss */
a:hover {
  color: #06e;
}

/* line 56, ../source/style/core/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 59, ../source/style/core/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 66, ../source/style/core/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 68, ../source/style/core/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 70, ../source/style/core/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 72, ../source/style/core/_reset.scss */
dfn {
  font-style: italic;
}

/* line 74, ../source/style/core/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 76, ../source/style/core/_reset.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 78, ../source/style/core/_reset.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 81, ../source/style/core/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 84, ../source/style/core/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 86, ../source/style/core/_reset.scss */
q {
  quotes: none;
}

/* line 87, ../source/style/core/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 89, ../source/style/core/_reset.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 92, ../source/style/core/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 93, ../source/style/core/_reset.scss */
sup {
  top: -0.5em;
}

/* line 94, ../source/style/core/_reset.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 101, ../source/style/core/_reset.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 102, ../source/style/core/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 103, ../source/style/core/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */
/* line 115, ../source/style/core/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9 
 */
/* line 121, ../source/style/core/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 128, ../source/style/core/_reset.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 135, ../source/style/core/_reset.scss */
form {
  margin: 0;
}

/* line 136, ../source/style/core/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 139, ../source/style/core/_reset.scss */
label {
  cursor: pointer;
}

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */
/* line 146, ../source/style/core/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 154, ../source/style/core/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
/* line 161, ../source/style/core/_reset.scss */
button, input {
  line-height: normal;
  *overflow: visible;
}

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */
/* line 167, ../source/style/core/_reset.scss */
table button, table input {
  *overflow: auto;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
/* line 174, ../source/style/core/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/*
 * Consistent box sizing and appearance
 */
/* line 180, ../source/style/core/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

/* line 181, ../source/style/core/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 182, ../source/style/core/_reset.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */
/* line 188, ../source/style/core/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */
/* line 195, ../source/style/core/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 199, ../source/style/core/_reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 206, ../source/style/core/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 207, ../source/style/core/_reset.scss */
td {
  vertical-align: top;
}

/* line 1, ../source/style/core/_core.scss */
.ace-assistive {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 4, ../source/style/core/_core.scss */
.ace-hidden, [aria-hidden="true"] {
  display: none !important;
}

/* line 2, ../source/style/core/_buttons.scss */
.ace-button-group {
  font-size: 0;
}
/* line 5, ../source/style/core/_buttons.scss */
.ace-button-group .ace-button {
  margin: 0;
  font-size: 14px;
}

/**
 * GROUP/ITEM
 */
/* line 5, ../source/style/core/_layout.scss */
.ace-group,
.ace-group > .ace-item {
  display: block;
  margin: 18px 0 0 0;
  text-align: left;
}

/* line 12, ../source/style/core/_layout.scss */
.ace-group:last-of-type {
  margin-bottom: 18px;
}

@media only screen and (min-width: 500px) {
  /* line 17, ../source/style/core/_layout.scss */
  .ace-group {
    display: table;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
    /* defensive header allowance */
  }
  /* line 19, ../source/style/core/_layout.scss */
  .ace-group > .ace-item {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    margin: 0;
    vertical-align: top;
  }
  /* line 23, ../source/style/core/_layout.scss */
  .ace-group > .ace-group-header {
    display: table-caption;
  }

  /* .ace-group-split: two items; alignment is left, then right (splits the layout). */
  /* line 29, ../source/style/core/_layout.scss */
  .ace-group-split > .ace-item,
  .ace-group-split > .ace-item + .ace-item {
    text-align: center;
  }

  /* line 33, ../source/style/core/_layout.scss */
  .ace-group-split > .ace-item:last-child {
    text-align: right;
  }

  /* line 36, ../source/style/core/_layout.scss */
  .ace-group-split > .ace-item:first-child {
    text-align: left;
  }
}
/* line 1, ../source/style/core/_nav.scss */
.ace-nav {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}
/* line 186, ../source/style/_ace-variables.scss */
.ace-nav:before, .ace-nav:after {
  clear: both;
  content: "";
  display: table;
}
/* line 204, ../source/style/_ace-variables.scss */
.ace-nav li {
  font-size: 14px;
}

/* line 8, ../source/style/core/_nav.scss */
.ace-nav-horizontal {
  font-size: 0;
}
/* line 10, ../source/style/core/_nav.scss */
.ace-nav-horizontal > li {
  font-size: 14px;
  display: inline-block;
}
/* line 13, ../source/style/core/_nav.scss */
.ace-nav-horizontal > li > a {
  display: block;
  padding: 0 5px;
}

/**
 * GROUP/ITEM
 */
/* line 5, ../source/style/core/_layout.scss */
.ace-group,
.ace-group > .ace-item {
  display: block;
  margin: 18px 0 0 0;
  text-align: left;
}

/* line 12, ../source/style/core/_layout.scss */
.ace-group:last-of-type {
  margin-bottom: 18px;
}

@media only screen and (min-width: 500px) {
  /* line 17, ../source/style/core/_layout.scss */
  .ace-group {
    display: table;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
    /* defensive header allowance */
  }
  /* line 19, ../source/style/core/_layout.scss */
  .ace-group > .ace-item {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    margin: 0;
    vertical-align: top;
  }
  /* line 23, ../source/style/core/_layout.scss */
  .ace-group > .ace-group-header {
    display: table-caption;
  }

  /* .ace-group-split: two items; alignment is left, then right (splits the layout). */
  /* line 29, ../source/style/core/_layout.scss */
  .ace-group-split > .ace-item,
  .ace-group-split > .ace-item + .ace-item {
    text-align: center;
  }

  /* line 33, ../source/style/core/_layout.scss */
  .ace-group-split > .ace-item:last-child {
    text-align: right;
  }

  /* line 36, ../source/style/core/_layout.scss */
  .ace-group-split > .ace-item:first-child {
    text-align: left;
  }
}
/* line 4, ../source/style/core/_page.scss */
.ace-header {
  vertical-align: middle;
}
/* line 6, ../source/style/core/_page.scss */
.ace-header .ace-item.ace-header-main {
  text-align: left;
}
/* line 9, ../source/style/core/_page.scss */
.ace-header .ace-item {
  vertical-align: middle;
}

/* line 15, ../source/style/core/_page.scss */
.ace-page, .ace-page #header, .ace-page #content, .ace-page #footer, .ace-page .ace-header h1 {
  margin: 0;
  padding: 0;
}
/* line 19, ../source/style/core/_page.scss */
.ace-page #hidden {
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* line 30, ../source/style/core/_page.scss */
.ace-page-fixed #page {
  margin: 0 auto;
  max-width: 1000px;
}

/* line 35, ../source/style/core/_page.scss */
.ace-page-hybrid #content {
  margin: 0 auto;
  max-width: 1000px;
}

/* line 1, ../source/style/core/_panel.scss */
.ace-item > .ace-panel {
  margin: 0 10px;
}
/* line 3, ../source/style/core/_panel.scss */
.ace-item > .ace-panel + .ace-panel {
  margin-top: 12px;
}

/* line 8, ../source/style/core/_panel.scss */
.ace-item:first-child > .ace-panel {
  margin-left: 0;
}

/* line 11, ../source/style/core/_panel.scss */
.ace-item:last-child > .ace-panel {
  margin-right: 0;
}
